@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');

* {
    box-sizing: border-box;
}



.etxt{
    color: #f0a500;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    text-align: left;
    margin-bottom: 20px;
    user-select: none;
    font-weight: lighter;
    font-style: italic;
}

/* Lien invisible sur tout le header */
.header-click {
    position: absolute;
    inset: 0;          /* top:0; bottom:0; left:0; right:0 */
    z-index: 1;        /* derrière le menu */
    display: block;
}


/* Icône menu fixe */
#menu-toggle {
    position: fixed;       /* Fixe sur la page */
    top: 20px;             /* Distance du haut */
    right: 20px;           /* Distance de la droite */
    z-index: 10001; 
    transition: ease-out 0.1s;       /* Au-dessus de tout */
}

#menu-toggle:hover {
    transform: scale(1.05);
}

.menu-icon {
    width: 80px;           /* Taille de l’icône */
    cursor: pointer;
}


/* Menu overlay */
#menu-overlay {
    display: none; /* caché par défaut */
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.7); /* semi-transparent */
    z-index: 10000;
    backdrop-filter: blur(5px); /* léger flou */
    transition: opacity 0.3s ease;
}

/* Contenu du menu */
.menu-content {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    padding: 50px 20px;
    box-shadow: 2px 0 10px rgba(0,0,0,0.5);
}



.menu-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-content li {
    margin-bottom: 20px;
}

.menu-content li a {
    color: white;
    text-decoration: none;
    
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    font-style: italic;
    
}

.menu-content li a:hover {
    color: #f0a500;
    font-weight: normal;
}

/* Activer l'affichage */
#menu-overlay.active {
    display: block;
}



body{
    background-color: rgb(10, 10, 10);
    background-size: cover;
    margin-top: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
}

section{
    margin-left: 0px;
    margin-right: 0px;
    
}

.navbar{
    position: fixed;
    top: 8%;
    right: 3%;
    width: 150px;
    z-index: 999;
    transition: 0.5s;
}

.navbar a {
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 17px;
}




img{
    width: 100%;
    border-radius: 0px;
    display: block;
    margin-bottom: 3px;
    break-inside: avoid;
}

/* Rectangle noir en haut */
.top-bar {
    position: fixed;       /* reste en haut quand tu scrolles */
    top: 0;
    left: 0;
    width: 100%;
    height:110px;          /* ajuste selon le décalage voulu */
    background-color: rgb(10, 10, 10); /* noir */
    z-index: 900;          /* en dessous du header mais au-dessus du reste */
}




header {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 900px;
    padding: 30px 0;        /* contrôle la hauteur interne */
    height: 100px;            /* hauteur automatique selon le contenu */
    background-image: url('img/bannn.png'); /* ajuste le chemin si besoin */
    background-size: contain;      /* adapte l'image à l'espace */
    background-position: center;   /* centrage de l'image */
    background-repeat: no-repeat;  /* pas de répétition */
    border-radius: 5px;
    z-index: 1000;
}



.header-click {
    position: absolute;
    inset: 0;
    z-index: 10;
}



.list {
    margin: 50px auto; /* center content */
    max-width: 1200px; /* limit width */
    display: flex;
    flex-direction: column;
    gap: 30px; /* space between images */
}

.list .image {
    width: 100%;
    max-width: 500px; /* limit image width */
    cursor: pointer;
    transition: transform 0.3s ease;
}

.list .image:hover {
    transform: scale(1.02);
}

.list .image img,
.list .image video {
    max-width: 100%;
    border-radius: 5px;
    height: auto;
    display: block;
}

.section-parallax {
    margin-top: 40px;
    position: fixed;
    display: flex;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    max-width: 100%;
    background-color: rgb(10, 10, 10);
    z-index: 100; /* EN DESSOUS */
}




.section-normal {
    position: relative;
    display: flex;
    flex-direction: row;
    z-index: 100;
    margin-top: 620px; /* espace sous parallax */
    background-color: rgb(10,10,10);
}


.content-flex {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.image-row {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: center;
}

.image-row .image {
    flex: 0 1 480px;   /* nice poster size */
}


.text-block {
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.text-block h2 {
    font-size: 42px;
    font-weight: lighter; 
    margin-bottom: 0px;
    
}

.text-block a{
    font-size: 18px;
    color: #f0a500;
    margin-bottom: 0px;
    font-style: italic;
}

.text-block p {
    font-size: 18px;
    line-height: 1;
    font-style: italic;
}

.image-block {
    flex: 1;
}

.image-block img {
    width: 100%;
    border-radius: 10px;
    display: block;
}

.popup-image {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.815);
    z-index: 99999;
    transition: opacity 0.3s ease-in-out;
}

.popup-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    width: auto; /* Allow natural width */
    max-width: 90vw; /* Maximum width: 90% of the viewport width */
    max-height: 90vh; /* Maximum height: 90% of the viewport height */
    object-fit: contain; /* Ensures the full image is visible */
}



footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Or space-between */
    align-items: center;
    margin-bottom: 10px;
    overflow: hidden; /* Prevent content from overflowing */
    max-width: 100%;
}

.btn{
    padding: 0.8em 1.5em;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: 200ms ease-in-out;
    font-weight: lighter;
}



@media (max-width: 1000px){

    

    .navbar{
    position: fixed;
    top: 3%;
    right: 3%;
    width: 150px;
    z-index: 999;
    transition: 0.5s;
    }

.navbar a {
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 10px;
}
    
    .section-normal {
    position: relative;
    display: flex;
    flex-direction: row;
    z-index: 100;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-top: 800px; /* espace sous parallax */
    background-color: rgb(10,10,10);
    
}   
    .btn{
        padding: 0.5em 0.2em;
    }
    .list{
        margin-left: 10px;
        margin-right: 10px;
        column-count: 2;
        column-gap: 3px;
        margin-bottom: 10px;
    }

    
    header {
    position: fixed;
    top: 25px;
    left: 25px;
    width: calc(100% - 50px);
    padding: 30px 0;        /* contrôle la hauteur interne */
    height: auto;            /* hauteur automatique selon le contenu */
    background-image: url('img/bannn.png'); /* ajuste le chemin si besoin */
    background-size: contain;      /* adapte l'image à l'espace */
    background-position: center;   /* centrage de l'image */
    background-repeat: no-repeat;  /* pas de répétition */
    
    border-radius: 5px;
    z-index: 1000;
}

    

    section{
        margin-left: 0px;
        margin-right: 0px;
    }

    .section-normal {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 100;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-top: 470px; /* espace sous parallax */
    background-color: rgb(10,10,10);
    
}

.image-row {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.image-row .image {
    flex: 1;
    max-width: 100%;
}

.section-parallax {
    margin-top: 0px;
}

.list .image img,
.list .image video {
    width: 100%;
    height: auto;
    border-radius: 5px;
    display: block;
}
    
    .navbar{
        position: fixed;
        top: 4%;
        right: 3%;
        width: 60px;
        z-index: 9999;
        transition: 0.5s;
    }

    footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Or space-between */
    align-items: center;
    margin-bottom: 20px;
    overflow: hidden; /* Prevent content from overflowing */
    max-width: 100%;
}

}